# Create and connect to mongoDB

In [1]:
import pandas as pd
import re
!python -m pip install pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://udidas:mongo@assignment-2.ulpb8p7.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 9.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 20.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Pinged your deployment. You successfully connected to MongoDB!

# Populate the database

In [2]:
database = client.get_database('Library')
collection = database.Books

In [3]:
# collection.insert_many(
#     [
#         {
#             'ISBN': '9780316015844',
#             'Title': 'The Catcher in the Rye',
#             'Author': 'J.D. Salinger',
#             'Date': '1951',
#             'Publisher': 'Little, Brown and Company',
#             'Category': 'Fiction',
#             'Quantity': 10,
#             'Price': 12.99
#         },
#         {
#             'ISBN': '9780061120084',
#             'Title': 'To Kill a Mockingbird',
#             'Author': 'Harper Lee',
#             'Date': '1960',
#             'Publisher': 'Harper Perennial Modern Classics',
#             'Category': 'Fiction',
#             'Quantity': 5,
#             'Price': 9.99
#         },
#         {
#             'ISBN': '9780062457714',
#             'Title': 'The Subtle Art of Not Giving a F*ck',
#             'Author': 'Mark Manson',
#             'Date': '2016',
#             'Publisher': 'HarperOne',
#             'Category': 'Self-help',
#             'Quantity': 15,
#             'Price': 14.99
#         },
#         {
#             'ISBN': '9780143110732',
#             'Title': '1984',
#             'Author': 'George Orwell',
#             'Date': '1949',
#             'Publisher': 'Penguin Books',
#             'Category': 'Science Fiction',
#             'Quantity': 8,
#             'Price': 10.99
#         },
#         {
#             'ISBN': '9780060833459',
#             'Title': 'Freakonomics',
#             'Author': 'Steven D. Levitt, Stephen J. Dubner',
#             'Date': '2005',
#             'Publisher': 'William Morrow Paperbacks',
#             'Category': 'Non-fiction',
#             'Quantity': 12,
#             'Price': 9.99
#         },
#         {
#             'ISBN': '9780061122415',
#             'Title': 'The Hobbit',
#             'Author': 'J.R.R. Tolkien',
#             'Date': '1937',
#             'Publisher': 'HarperCollins',
#             'Category': 'Fantasy',
#             'Quantity': 15,
#             'Price': 10.99
#         },
#         {
#             'ISBN': '9781455586691',
#             'Title': 'The Girl on the Train',
#             'Author': 'Paula Hawkins',
#             'Date': '2015',
#             'Publisher': 'Riverhead Books',
#             'Category': 'Mystery',
#             'Quantity': 9,
#             'Price': 12.49
#         },
#         {
#             'ISBN': '9780062457721',
#             'Title': 'Atomic Habits',
#             'Author': 'James Clear',
#             'Date': '2018',
#             'Publisher': 'Avery',
#             'Category': 'Self-help',
#             'Quantity': 20,
#             'Price': 11.99
#         },
#         {
#             'ISBN': '9781451627299',
#             'Title': 'Unbroken',
#             'Author': 'Laura Hillenbrand',
#             'Date': '2010',
#             'Publisher': 'Random House',
#             'Category': 'Biography',
#             'Quantity': 7,
#             'Price': 13.99
#         },
#         {
#             'ISBN': '9780061122412',
#             'Title': 'The Shining',
#             'Author': 'Stephen King',
#             'Date': '1977',
#             'Publisher': 'Anchor',
#             'Category': 'Horror',
#             'Quantity': 14,
#             'Price': 8.99
#         },
#         {
#             'ISBN': '9780143127550',
#             'Title': 'The Martian',
#             'Author': 'Andy Weir',
#             'Date': '2011',
#             'Publisher': 'Broadway Books',
#             'Category': 'Science Fiction',
#             'Quantity': 11,
#             'Price': 9.99
#         },
#         {
#             'ISBN': '9780141187761',
#             'Title': 'The Great Gatsby',
#             'Author': 'F. Scott Fitzgerald',
#             'Date': '1925',
#             'Publisher': 'Penguin Classics',
#             'Category': 'Classic',
#             'Quantity': 6,
#             'Price': 7.99
#         }
#     ]
# )

# result = collection.delete_many({})    ####To delete everything from collection

# Query data

In [4]:
result = collection.find({"Price": {"$lt": 11}})
pd.DataFrame(result)
# for document in result:
#     print(document)

,_id,ISBN,Title,Author,Date,Publisher,Category,Quantity,Price
0,64969e5b97d3c36db457b60d,9780061120084,To Kill a Mockingbird,Harper Lee,1960,Harper Perennial Modern Classics,Fiction,5,9.99
1,64969e5b97d3c36db457b60f,9780143110732,1984,George Orwell,1949,Penguin Books,Science Fiction,8,10.99
2,64969e5b97d3c36db457b610,9780060833459,Freakonomics,"Steven D. Levitt, Stephen J. Dubner",2005,William Morrow Paperbacks,Non-fiction,12,9.99
3,64969e5b97d3c36db457b611,9780061122415,The Hobbit,J.R.R. Tolkien,1937,HarperCollins,Fantasy,15,10.99
4,64969e5b97d3c36db457b615,9780061122412,The Shining,Stephen King,1977,Anchor,Horror,14,8.99
5,64969e5b97d3c36db457b616,9780143127550,The Martian,Andy Weir,2011,Broadway Books,Science Fiction,11,9.99
6,64969e5b97d3c36db457b617,9780141187761,The Great Gatsby,F. Scott Fitzgerald,1925,Penguin Classics,Classic,6,7.99

In [5]:
def search(attribute,value,condition=None):
  if condition == None:
    search_result = collection.find({attribute:value})
  else:
    search_result = collection.find({attribute:{condition:value}})

  return pd.DataFrame(search_result)

## Search by date

In [6]:
search('Date','1951')       #For the year 1951

,_id,ISBN,Title,Author,Date,Publisher,Category,Quantity,Price
0,64969e5b97d3c36db457b60c,9780316015844,The Catcher in the Rye,J.D. Salinger,1951,"Little, Brown and Company",Fiction,10,12.99

In [7]:
search('Date','1960','$lt')       #For years prior to 1960

,_id,ISBN,Title,Author,Date,Publisher,Category,Quantity,Price
0,64969e5b97d3c36db457b60c,9780316015844,The Catcher in the Rye,J.D. Salinger,1951,"Little, Brown and Company",Fiction,10,12.99
1,64969e5b97d3c36db457b60f,9780143110732,1984,George Orwell,1949,Penguin Books,Science Fiction,8,10.99
2,64969e5b97d3c36db457b611,9780061122415,The Hobbit,J.R.R. Tolkien,1937,HarperCollins,Fantasy,15,10.99
3,64969e5b97d3c36db457b617,9780141187761,The Great Gatsby,F. Scott Fitzgerald,1925,Penguin Classics,Classic,6,7.99

## Search by Category

In [8]:
search('Category',re.compile(r'fict',re.IGNORECASE))      #Shows all the books whose category contains 'ict' in the string

,_id,ISBN,Title,Author,Date,Publisher,Category,Quantity,Price
0,64969e5b97d3c36db457b60c,9780316015844,The Catcher in the Rye,J.D. Salinger,1951,"Little, Brown and Company",Fiction,10,12.99
1,64969e5b97d3c36db457b60d,9780061120084,To Kill a Mockingbird,Harper Lee,1960,Harper Perennial Modern Classics,Fiction,5,9.99
2,64969e5b97d3c36db457b60f,9780143110732,1984,George Orwell,1949,Penguin Books,Science Fiction,8,10.99
3,64969e5b97d3c36db457b610,9780060833459,Freakonomics,"Steven D. Levitt, Stephen J. Dubner",2005,William Morrow Paperbacks,Non-fiction,12,9.99
4,64969e5b97d3c36db457b616,9780143127550,The Martian,Andy Weir,2011,Broadway Books,Science Fiction,11,9.99

## Search by Price

In [9]:
search('Price',11,'$lt')        #Books that go for less than $11

,_id,ISBN,Title,Author,Date,Publisher,Category,Quantity,Price
0,64969e5b97d3c36db457b60d,9780061120084,To Kill a Mockingbird,Harper Lee,1960,Harper Perennial Modern Classics,Fiction,5,9.99
1,64969e5b97d3c36db457b60f,9780143110732,1984,George Orwell,1949,Penguin Books,Science Fiction,8,10.99
2,64969e5b97d3c36db457b610,9780060833459,Freakonomics,"Steven D. Levitt, Stephen J. Dubner",2005,William Morrow Paperbacks,Non-fiction,12,9.99
3,64969e5b97d3c36db457b611,9780061122415,The Hobbit,J.R.R. Tolkien,1937,HarperCollins,Fantasy,15,10.99
4,64969e5b97d3c36db457b615,9780061122412,The Shining,Stephen King,1977,Anchor,Horror,14,8.99
5,64969e5b97d3c36db457b616,9780143127550,The Martian,Andy Weir,2011,Broadway Books,Science Fiction,11,9.99
6,64969e5b97d3c36db457b617,9780141187761,The Great Gatsby,F. Scott Fitzgerald,1925,Penguin Classics,Classic,6,7.99

# Checkout system

In [18]:
book84 = collection.find_one({'Title':'1984'})
book84

{'_id': ObjectId('64969e5b97d3c36db457b60f'),
 'ISBN': '9780143110732',
 'Title': '1984',
 'Author': 'George Orwell',
 'Date': '1949',
 'Publisher': 'Penguin Books',
 'Category': 'Science Fiction',
 'Quantity': 8,
 'Price': 10.99}

In [3]:
def check_out(collection):
  cart = []
  total = 0

  search_by = input("Enter attribute: ")
  while True:
    value = input(f"Enter {search_by}: ")
    if value == 'done':
      break

    book = collection.find_one({search_by:value})
    if book['Quantity'] == 0:
      print('This book is out of stock')
    else:
      cart.append(book)
      total +=book['Price']


  confirmation = input(f"Total = {total}\nProceed to checkout: (y/n)")
  if confirmation == 'y':
    for book in cart:
      quantity = book["Quantity"]
      if quantity > 0:
        collection.update_one({f"{search_by}": book[f"{search_by}"]},{"$set": {"Quantity": quantity - 1}})
    print("Checkout complete!!")
  else:
    print("checkout aborted!!")

In [41]:
# check_out(collection)

Enter attribute: Title
Enter Title: 1984
Enter Title: 1984
Enter Title: done
Total = 21.98
Proceed to checkout: (y/n)y
Checkout complete!!

In [4]:
check_out(collection)

Enter attribute: Title
Enter Title: 1984
Enter Title: Freakonomics
Enter Title: The Hobbit
Enter Title: Atomic Habits
Enter Title: done
Total = 43.96
Proceed to checkout: (y/n)y
Checkout complete!!